<style>


    /*  bhoechie tab */
    div.bhoechie-tab-container{
        /*z-index: 10;*/
        background-color: #ffffff;
        padding: 0 !important;
        border-radius: 4px;
        -moz-border-radius: 4px;
        /*border:1px solid #ddd;*/
        /*margin-top: 20px;*/
        /*margin-left: 50px;*/
        /*-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);*/
        /*box-shadow: 0 6px 12px rgba(0,0,0,.175);*/
        /*-moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);*/
        /*background-clip: padding-box;*/
        opacity: 0.97;
        filter: alpha(opacity=97);
    }
    div.bhoechie-tab-menu{
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 0;
    }
    div.bhoechie-tab-menu div.list-group{
        margin-bottom: 0;
    }
    div.bhoechie-tab-menu div.list-group>a{
        margin-bottom: 0;
    }
    div.bhoechie-tab-menu div.list-group>a .glyphicon,
    div.bhoechie-tab-menu div.list-group>a .fa {
        color: #51c6ea;
    }
    div.bhoechie-tab-menu div.list-group>a:first-child{
        border-top-right-radius: 0;
        -moz-border-top-right-radius: 0;
    }
    div.bhoechie-tab-menu div.list-group>a:last-child{
        border-bottom-right-radius: 0;
        -moz-border-bottom-right-radius: 0;
    }
    div.bhoechie-tab-menu div.list-group>a.active,
    div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
    div.bhoechie-tab-menu div.list-group>a.active .fa{
        background-color: #51c6ea;
        background-image: #51c6ea;
        color: #ffffff;
    }
    div.bhoechie-tab-menu div.list-group>a.active:after{
        content: '';
        /*position: absolute;*/
        left: 100%;
        top: 50%;
        margin-top: -13px;
        border-left: 0;
        border-bottom: 13px solid transparent;
        border-top: 13px solid transparent;
        border-left: 10px solid #51c6ea;
    }

    div.bhoechie-tab-content{
        background-color: #ffffff;
         /*border: 1px solid #eeeeee;*/
        /*padding-left: 20px;*/
        /*padding-top: 10px;*/
    }

    div.bhoechie-tab div.bhoechie-tab-content:not(.active){
        display: none;
    }



    /*  bhoechie tab */
    div.bhoechie-tab-container{
        /*z-index: 10;*/
        background-color: #ffffff;
        padding: 0 !important;
        border-radius: 4px;
        -moz-border-radius: 4px;
        /*border:1px solid #ddd;*/
        /*margin-top: 20px;*/
        /*margin-left: 50px;*/
        /*-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);*/
        /*box-shadow: 0 6px 12px rgba(0,0,0,.175);*/
        /*-moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);*/
        /*background-clip: padding-box;*/
        opacity: 0.97;
        filter: alpha(opacity=97);
    }
    div.bhoechie-tab-menu{
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 0;
    }
    div.bhoechie-tab-menu div.list-group{
        margin-bottom: 0;
    }
    div.bhoechie-tab-menu div.list-group>a{
        margin-bottom: 0;
    }
    div.bhoechie-tab-menu div.list-group>a .glyphicon,
    div.bhoechie-tab-menu div.list-group>a .fa {
        color: #51c6ea;
    }
    div.bhoechie-tab-menu div.list-group>a:first-child{
        border-top-right-radius: 0;
        -moz-border-top-right-radius: 0;
    }
    div.bhoechie-tab-menu div.list-group>a:last-child{
        border-bottom-right-radius: 0;
        -moz-border-bottom-right-radius: 0;
    }
    div.bhoechie-tab-menu div.list-group>a.active,
    div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
    div.bhoechie-tab-menu div.list-group>a.active .fa{
        background-color: #51c6ea;
        background-image: #51c6ea;
        color: #ffffff;
    }
    div.bhoechie-tab-menu div.list-group>a.active:after{
        content: '';
        position: absolute;
        /*left: 100%;*/
        /*top: 50%;*/
        /*margin-top: -13px;*/
        border-left: 0;
        border-bottom: 13px solid transparent;
        border-top: 13px solid transparent;
        border-left: 10px solid #51c6ea;
    }

    div.bhoechie-tab-content{
        background-color: #ffffff;
        /* border: 1px solid #eeeeee; */
        /*padding-left: 20px;*/
        /*padding-top: 10px;*/
    }

    div.bhoechie-tab div.bhoechie-tab-content:not(.active){
        display: none;
    }

</style>
        <script>
            $(document).ready(function() {
                $("div.bhoechie-tab-menu>div.list-group>a").click(function(e) {
                    e.preventDefault();
                    $(this).siblings('a.active').removeClass("active");
                    $(this).addClass("active");
                    var index = $(this).index();
                    $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
                    $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
                });
            });
        </script>

<!--Add modal form-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog" style="width:1034px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ modalTile }}</h4>
            </div>
            <div class="modal-body">
                <div>
                    <form  id="edit-example-form" ng-submit="addReservation(newReservation)" novalidate="novalidate">
                        <div role="application" class="wizard clearfix" id="steps-uid-0">
                            <div class="content clearfix">
                    <table class="table table-responsive" style="border-top:3px!important;">
                        <tbody>
                        <tr>
                            <td >
                                <div class="form-group">
                                    <label for="title">Reservation Title :</label>
                                    <input type="text" class="form-control" id="title" ng-model="newReservation.title" placeholder="Reservation Title" required>
                                </div>
                            </td>
                            <td >
                                <div class="form-group">
                                    <label for="start_date">Start Date :</label>
                                    <datepicker date-format="{{'yyyy-MM-dd HH:mm:ss'}}"><input type="text" class="form-control" id="start_date" ng-model="newReservation.start_date" placeholder="Start Date" required></datepicker>
                                </div>
                            </td>
                            <td >
                                <div class="form-group">
                                    <label for="end_date">End Date :</label>
                                    <datepicker date-format="{{'yyyy-MM-dd HH:mm:ss'}}">
                                        <input type="text" class="form-control" id="end_date" ng-model="newReservation.end_date" placeholder="End Date" required>
                                    </datepicker>

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label for="vehicles">Vehicles :</label>
                                    <input type="text" class="form-control" id="vehicles"  placeholder="Vehicles">

                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label for="possible_routes">Possible Routes :</label>
                                    <input type="text" class="form-control" id="possible_routes" ng-model="newReservation.possible_routes" placeholder="Possible Routes">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label for="reserved_to">Reserved To :</label>
                                    <input type="text" class="form-control" id="reserved_to" ng-model="newReservation.reserved_to" placeholder="Reserved To">
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                            </div>
                    <div class="actions clearfix">
                        <div class="alert alert-success alert-dismissible" ng-if="successmessage" role="alert" style="font-weight: bolder;text-align: left;">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ "Congratulations!!... Registered successfully." }}
                        </div>
                        <div class="alert alert-danger alert-dismissible" ng-if="failuremessage" role="alert" style="font-weight: bolder;text-align: left;">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ "Sorry!!... Registration failed." }}
                        </div>
                        <ul role="menu" aria-label="Pagination">
                            <li class="disabled" aria-disabled="true">
                                <button ng-click="changeState('list')" class="btn btn-default" data-dismiss="modal">List</button>
                            </li>
                            <li aria-hidden="false" aria-disabled="false">
                                <button type="button"  class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            </li>
                            <li aria-hidden="false" style="display: block;">
                                <button type="submit" class="btn btn-primary" >Save Changes</button>
                            </li>
                        </ul>
                    </div>
                </div>
                </form>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button ng-if="save" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!--End add modal form-->
<div  ng-controller="reservationsController">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-9 bhoechie-tab-container">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bhoechie-tab-menu" style="width:40px;">
            <div class="list-group">
                <a href="#" ng-click="views('Chart')" class="list-group-item active text-center" style="text-align: left;width:40px;">
                   Chart
                </a>
                <a href="#" ng-click="views('Table')" class="list-group-item text-center" style="text-align: left;width:40px;">
                   Table
                </a>
            </div>
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 bhoechie-tab">
            <!-- flight section -->
            <div class="bhoechie-tab-content active">
                <div class="row">
                    <div class="col-md-6">
                    <select ng-model="periodYear" ng-click="periodChange()"  class="form-control ">
                        <!--<option ng-selected="true" disabled>-- Select Year --</option>-->
                        <option ng-repeat="year in years">{{year}}</option>
                    </select>
                        </div>
                            <div class="col-md-6">
                    <select ng-model="periodMonth" ng-click="periodChange()" class="form-control">
                        <!--<option ng-selected="true" disabled>-- Select Month --</option>-->
                        <option ng-repeat="month in months">{{month}}</option>
                    </select>
                            </div>
                </div>
                <div class="row" style="text-align: center;"><div class="col-md-2"><a style="margin-top: 10px;" ng-click="addReservationForm()" data-toggle="modal" data-target="#myModal" class="btn btn-md btn-primary">Add Reservation</a></div><div class="col-md-9"><h3 ng-modal="chartTitle">{{chartTitle}}</h3></div></div>
                <div class="row">
                <reservation-chart vehicles="vehicles" range="range" classChart="classChart"></reservation-chart>
                </div>
                 </div>
            <!-- train section -->
            <div class="bhoechie-tab-content">
                <div class="row">
                    <div class="col-md-6">
                        <select ng-model="periodYear" ng-click="periodChange()"  class="form-control ">
                            <!--<option ng-selected="true" disabled>-- Select Year --</option>-->
                            <option ng-repeat="year in years">{{year}}</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <select ng-model="periodMonth" ng-click="periodChange()" class="form-control">
                            <!--<option ng-selected="true" disabled>-- Select Month --</option>-->
                            <option ng-repeat="month in months">{{month}}</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="text-align: center;"><div class="col-md-2"><a style="margin-top: 10px;"  data-toggle="modal" ng-click="addReservationForm()" data-target="#myModal"  class="btn btn-md btn-primary" >Add Reservation</a></div><div class="col-md-9"><h3 ng-modal="chartTitle">{{chartTitle}}</h3></div></div>
                <div class="row">
                    <reservation-table vehicles="vehicles" range="range" reservations="reservation"></reservation-table>
                </div>
            </div>

        </div>
    </div>

</div>