<style>
    .reserved{
        background-color: #5899eb;
    }
    .postponed{
        background-color: #909fa7;
    }

</style>
<table id="datatable2" datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs"  class="table table-condensed   table-bordered">
      <thead>
      <tr>
          <th title="Vehicle regitration number" style="width:20px!important;text-align: center;">V.REG#</th>
          <th ng-repeat="i in range" style="width:30px!important;font-weight: bolder;text-align: center;font-size: 11px!important;">{{i}}</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="vehicle in vehicles">
          <th style="width:33px!important;font-weight: bolder;text-align: center;">{{vehicle.registration_number}}</th>
          <td ng-repeat="i in range" style="width:33px!important;height:37px!important;text-align: center;" class="reserved">{{classChart}}</td>
      </tr>
      </tbody>
  </table>