<style>
    .dropdown-menus {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 14px;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }

    .dropdown-menus .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #e5e5e5;
    }

    .dropdown-menus > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
    }
    .dropdown-menus > li > a:hover,
    .dropdown-menus > li > a:focus {
        color: #262626;
        text-decoration: none;
        background-color: #f5f5f5;
    }
    .dropdown-menus > .active > a,
    .dropdown-menus > .active > a:hover,
    .dropdown-menus > .active > a:focus {
        color: #fff;
        text-decoration: none;
        background-color: #428bca;
        outline: 0;
    }
    .dropdown-menus > .disabled > a,
    .dropdown-menus > .disabled > a:hover,
    .dropdown-menus > .disabled > a:focus {
        color: #999;
    }
    .dropdown-menus > .disabled > a:hover,
    .dropdown-menus > .disabled > a:focus {
        text-decoration: none;
        cursor: not-allowed;
        background-color: transparent;
        background-image: none;
        filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    }
    .open > .dropdown-menus {
        display: block;
    }
    .open > a {
        outline: 0;
    }

    .drops{
        position: absolute!important;

    }



</style>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog" style="width:1034px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ modalTile }}</h4>
            </div>
            <div class="modal-body">
                <div>
                    <table class="table table-responsive table-condensed table-striped table-bordered table-hover">
                        <tr ><th>Registration Number : </th><td>{{ currentVehicle['registration_number'] }}</td></tr>
                        <tr ><th>Vehicle Control Number : </th><td>{{ currentVehicle['vehicle_control_number'] }}</td></tr>
                        <tr ><th>Model Number : </th><td>{{ currentVehicle['model_number'] }}</td></tr>
                        <tr ><th>Body Type : </th><td>{{ currentVehicle['body_type'] }}</td></tr>
                        <tr ><th>Color : </th><td>{{ currentVehicle['color'] }}</td></tr>
                        <tr ><th>Class : </th><td>{{ currentVehicle['class'] }}</td></tr>
                        <tr ><th>Year Of Manufacture : </th><td>{{ currentVehicle['year_of_manufacture'] }}</td></tr>
                        <tr ><th>Chassis Number : </th><td>{{ currentVehicle['chassis_no'] }}</td></tr>
                        <tr ><th>Engine Number : </th><td>{{ currentVehicle['engine_no'] }}</td></tr>
                        <tr ><th>Engine Capacity : </th><td>{{ currentVehicle['engine_capacity'] }}</td></tr>
                        <tr ><th>Fuel Used : </th><td>{{ currentVehicle['fuel_used'] }}</td></tr>
                        <tr ><th>Number of Axles : </th><td>{{ currentVehicle['number_of_axles'] }}</td></tr>
                        <tr ><th>Axle Distance : </th><td>{{ currentVehicle['axle_distance'] }}</td></tr>
                        <tr ><th>Seat Capacity : </th><td>{{ currentVehicle['seat_capacity'] }}</td></tr>
                        <tr ><th>Tare Weight : </th><td>{{ currentVehicle['tare_weight'] }}</td></tr>
                        <tr ><th>Gross Weight : </th><td>{{ currentVehicle['gross_weight'] }}</td></tr>
                        <tr ><th>Imprted From : </th><td>{{ currentVehicle['imported_from'] }}</td></tr>
                        <tr ><th>Fuel Consuption : </th><td>{{ currentVehicle['fuel_consumption_rate'] }}</td></tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button ng-if="save" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<table id="datatable2" datatable="ng" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs" class="table table-striped table-hover table-condensed dataTable" >
    <thead>
    <tr>
       <th>#</th> <th ng-repeat="title in titles">{{ title }}</th>
    </tr>
    </thead>
    <tbody>
    <div class="dropdown drops" >
        <ul class="dropdown-menus" role="menu" aria-labelledby="dropdownMenu1" >
            <li role="presentation"><a role="menuitem" tabindex="-1" id="viewMore" data-toggle="modal" data-target="#myModal">View More<i class="fa fa-search pull-right"></i></a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1"  id="inlineEdit">Inline Edit<i class="fa fa-eraser pull-right"></i></a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1"  ng-click="vehicleController.changeState('add')">Edit<i class="fa fa-edit pull-right"></i></a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Remove<i class="fa fa-trash-o pull-right"></i></a></li>
        </ul>
    </div>
    <tr ng-repeat="object in tableData " class="gradeX" ng-click="contextMenu($event,object)" title="click to edit or delete" >
        <td>{{$index+1}}</td><td ng-repeat="colum in colums"><span class="innerText text_{{object.id}}">{{ object[colum]}}</span>  <input  ng-change="change(object[colum],colum,'vehicle')" ng-model="object[colum]" class="innerInput input_{{object.id}}"  style="display: none" type="text" value="{{ object[colum] }}"></td>
    </tr>
    </tbody>
</table>

<script>

</script>